.toys-page {
  min-height: 100%;

  &__main,
  &__left-wrapper,
  &__reset-buttons {
    display: flex;
  }

  &__main {
    flex-wrap: wrap;
    max-width: 144rem;
    padding: 1.5rem;
    margin: 0 auto;
  }

  &__main,
  &__left {
    gap: 4.5rem;
  }

  &__left {
    max-width: 31.5rem;
    margin-top: 5rem;
  }

  &__left,
  &__right,
  &__cards {
    display: grid;
    height: max-content;
  }

  &__left-wrapper,
  &__reset-buttons,
  &__right {
    gap: 1rem;
  }

  &__left-wrapper {
    align-items: center;
  }

  &__reset-buttons {
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;

    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  }

  &__right {
    flex-grow: 1;
  }

  &__sorting {
    margin-left: auto;
  }

  &__cards {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 1rem;
  }

  &__error {
    grid-column: 1 / -1;

    font-family: Neucha, sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 0 0.1rem #000;
  }
}
