.toys-page {
  min-height: 100%;

  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("assets/bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;

  &__main,
  &__left-wrapper,
  &__reset-buttons {
    display: flex;
  }

  &__main {
    flex-wrap: wrap;
    max-width: 144rem;
    padding: 1.5rem;
    margin: 0 auto;
  }

  &__main,
  &__left {
    gap: 4.5rem;
  }

  &__left {
    max-width: 31rem;
    margin-top: 5rem;
  }

  &__left,
  &__cards {
    display: grid;
    height: max-content;
  }

  &__left-wrapper,
  &__reset-buttons,
  &__right {
    gap: 1rem;
  }

  &__left-wrapper {
    align-items: center;
  }

  &__reset-buttons,
  &__error {
    font-family: Neucha, sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    text-shadow: 0 0 0.1rem #000;
  }

  &__reset-buttons {
    justify-content: center;
    padding-top: 1.5rem;

    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  }

  &__right {
    display: grid;
    flex-grow: 1;
    height: max-content;
  }

  &__sorting {
    margin-left: auto;
  }

  &__cards {
    flex-grow: 1;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 1rem;
  }

  &__error {
    grid-column: 1 / -1;

    text-align: center;
  }
}
