.toy-card {
  overflow: hidden;

  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;

  transition: background-color 0.2s;
  backdrop-filter: blur(1rem);

  &:hover,
  &--active {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &--active &__favorite {
    opacity: 1;
  }

  &--error &__inner {
    transform: translateX(-100%);
  }

  &__inner,
  &__props-item,
  &__wrapper,
  &__count-wrapper,
  &__error {
    display: flex;
  }

  &__inner {
    transition: transform 0.2s;
  }

  &__content,
  &__error {
    min-width: 100%;
    padding: 1.5rem;
  }

  &__title,
  &__count,
  &__error {
    font-family: Neucha, sans-serif;
    font-size: 2.2rem;
  }

  &__title,
  &__wrapper {
    margin-bottom: 1.5rem;
  }

  &__title,
  &__error {
    text-align: center;
  }

  &__title,
  &__count {
    text-shadow: 0 0 0.1rem #000;
  }

  &__title {
    font-weight: 400;
  }

  &__props {
    list-style: none;
  }

  &__props-item,
  &__count-wrapper {
    justify-content: space-between;
  }

  &__props-item {

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__wrapper,
  &__error {
    justify-content: center;
  }

  &__wrapper {
    gap: 1rem;
    padding-bottom: 1.5rem;

    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
  }

  &__image {
    display: block;
    width: 10rem;
    height: 10rem;

    object-fit: contain;
  }

  &__count-wrapper,
  &__error {
    align-items: center;
  }

  &__count-wrapper {
    flex-direction: column;
  }

  &__favorite {
    display: inline-block;
    width: 4rem;
    height: 4rem;

    background-image: url("assets/svg/star.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;

    transition: opacity 0.2s;
  }
}
