.music-button {
  width: 4rem;
  min-width: 4rem;
  height: 4rem;

  cursor: pointer;
  background-color: transparent;
  background-image: url("assets/svg/audio.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  opacity: 0.2;

  transition: opacity 0.2s;

  &:hover {
    opacity: 0.6;
  }

  &--active {
    opacity: 1;
  }
}
