.header {
  max-width: 144rem;
  margin: 0 auto;

  &,
  &__nav-link {
    padding: 1.5rem;
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  &__nav-item:first-child &__nav-link {
    padding-left: 0;
  }

  &__nav-link {
    display: block;

    color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    text-transform: uppercase;

    transition: color 0.2s, text-shadow 0.2s;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &--active {
      color: #fff;
      text-shadow: 0 0 0.1rem #000;
      pointer-events: none;
    }
  }
}
