.header {
  gap: 1rem;
  justify-content: space-between;
  max-width: 144rem;
  margin: 0 auto;

  &,
  &__nav-list {
    flex-wrap: wrap;
  }

  &,
  &__nav-link {
    padding: 1.5rem;
  }

  &,
  &__nav-list,
  &__favorites {
    display: flex;
  }

  &,
  &__favorites {
    align-items: center;
  }

  &__nav-list {
    list-style: none;
  }

  &__nav-item:first-child &__nav-link {
    padding-left: 0;
  }

  &__nav-link {
    position: relative;
    display: block;

    color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    text-transform: uppercase;

    transition: color 0.2s, text-shadow 0.2s;

    &::after {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      width: calc(100% - 3rem);
      height: 0.1rem;

      content: "";
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 0.1rem;
      opacity: 0;

      transform: translateX(-50%);
    }

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &--active {
      color: #fff;
      text-shadow: 0 0 0.1rem #000;
      pointer-events: none;

      &::after {
        opacity: 1;
      }
    }
  }

  &__favorites {
    justify-content: center;
    width: 5rem;
    height: 5rem;
    padding-top: 1.2rem;

    text-shadow: 0 0 0.1rem #000;

    background-image: url("assets/svg/ball-transparent.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
