.home-page {
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  min-width: 76.8rem;
  min-height: 100%;
  padding: 2rem;

  &,
  &__link-inner {
    display: flex;
  }

  &__title {
    max-width: 75rem;

    font-family: Neucha, sans-serif;
    font-size: 8rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 0 0.2rem #000;
    text-transform: uppercase;

    transition: text-shadow 0.2s;
  }

  &__title-light {
    animation: letter-lights 3s linear infinite;
  }

  @for $i from 1 through 5 {
    &__title-light:nth-child(#{$i}) {
      animation-delay: #{random(10) * 0.8}s;
    }
  }

  &__link,
  &__link-text {
    display: block;
  }

  &__link {
    position: relative;
    overflow: hidden;

    font-size: 2.4rem;
    color: #fff;
    text-decoration: none;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    outline: none;
    box-shadow: 0 0 0.1rem #000;
    backdrop-filter: blur(1rem);
  }

  &__link:hover ~ &__overlay,
  &__link:focus ~ &__overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__link:hover &__link-inner {
    transform: translateX(0);
  }

  &__link:hover &__link-text {
    opacity: 0;
  }

  &__link:hover &__link-arrow {
    opacity: 1;
  }

  &__link-inner {
    transition: transform 0.2s;
    transform: translateX(-100%);
  }

  &__link-text,
  &__link-arrow {
    min-width: 100%;
    transition: opacity 0.6s;
  }

  &__link-text {
    padding: 1.2rem 4rem 1rem;
  }

  &__link-arrow,
  &__overlay {
    background-repeat: no-repeat;
    background-position: center;
  }

  &__link-arrow {
    min-height: 100%;

    background-image: url("assets/svg/arrow-left.svg");
    background-size: 2rem;
    opacity: 0;

    transform: rotate(180deg);
  }

  &__overlay {
    position: fixed;
    inset: 0;
    z-index: -1;

    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("assets/bg.jpg");
    background-size: cover;
    background-blend-mode: multiply;

    transition: background-color 0.2s;
  }
}

@keyframes letter-lights {

  50% {
    text-shadow: 0 0 1rem #fff;
  }
}
