.home-page {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  min-width: 76.8rem;
  min-height: 100%;
  padding: 2rem;

  &__title {
    max-width: 75rem;

    font-family: Neucha, sans-serif;
    font-size: 8rem;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 0 0.2rem #000;
    text-transform: uppercase;

    transition: text-shadow 0.2s;
  }

  &__title-light {
    animation: letter-lights 3s linear infinite;
  }

  @for $i from 1 through 5 {
    &__title-light:nth-child(#{$i}) {
      animation-delay: #{random(10) * 0.8}s;
    }
  }

  &__link,
  &__link-item {
    display: block;
  }

  &__link::before,
  &__link-item {
    border-radius: 0.5rem;
    backdrop-filter: blur(1rem);
  }

  &__link {
    position: relative;

    font-size: 2.4rem;
    color: #fff;
    text-decoration: none;

    outline: none;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;

      content: "";
      background-color: rgba(255, 255, 255, 0.5);

      transition: width 0.5s, height 0.5s, opacity 0.5s;
      transform: translate(-50%, -50%);
    }

    &:hover,
    &:focus {

      &::before {
        width: 120%;
        height: 150%;

        border-radius: 1rem;
        opacity: 0;
      }
    }
  }

  &__link:hover ~ &__overlay,
  &__link:focus ~ &__overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__link-item {
    padding: 1.2rem 4rem 1rem;

    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0.1rem #000;
  }

  &__overlay {
    position: fixed;
    inset: 0;
    z-index: -1;

    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;

    transition: background-color 0.2s;
  }
}

@keyframes letter-lights {

  50% {
    text-shadow: 0 0 1rem #fff;
  }
}
