@mixin primary-background {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("assets/webp/bg2.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
