@import "../../../mixins";

.tree-page {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100%;

  @include primary-background();

  &__main,
  &__left,
  &__controls {
    display: flex;
  }

  &__main,
  &__left {
    gap: 4.5rem;
  }

  &__main {
    flex-wrap: wrap;
    width: 100%;
    max-width: 144rem;
    padding: 1.5rem;
    margin: 0 auto;
  }

  &__left {
    flex-direction: column;
    max-width: 32rem;
  }

  &__controls {
    gap: 1rem;
  }

  &__center {
    flex-grow: 1;
  }
}
